Repository togetherAll7/haystack-core-integrations, changes with the labels that .github/labeler.yml gives for each.
All labels: integration:chroma, integration:elasticsearch, integration:gradient, integration:instructor-embedders, integration:opensearch, integration:unstructured-fileconverter, topic:CI, topic:DX, topic:security

.github/labeler.yml:

# Integrations
integration:chroma:
- integrations/chroma/**/*
integration:elasticsearch:
- integrations/elasticsearch/**/*
integration:gradient:
- integrations/gradient/**/*
integration:instructor-embedders:
- integrations/instructor-embedders/**/*
integration:opensearch:
- integrations/opensearch/**/*
integration:unstructured-fileconverter:
- integrations/unstructured/fileconverter/**/*
# Topics
topic:CI:
- .github/*
- .github/**/*
topic:DX:
- CONTRIBUTING.md
- .pre-commit-config.yaml
- .gitignore
- requirements.txt
topic:security:
- SECURITY.md

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/new-integration-proposal.md
Labels: topic:CI

Update issue templates
  .github/ISSUE_TEMPLATE/feature-request-for-existing-integrations.md
Labels: topic:CI

Update LICENSE
  LICENSE
Labels: none

Add `cohere_haystack` integration package (#75)
  .github/workflows/cohere.yml
  README.md
  integrations/cohere/LICENSE.txt
  integrations/cohere/README.md
  integrations/cohere/pyproject.toml
  integrations/cohere/src/cohere_haystack/__about__.py
  integrations/cohere/src/cohere_haystack/__init__.py
  integrations/cohere/src/cohere_haystack/generator.py
  integrations/cohere/tests/__init__.py
  integrations/cohere/tests/test_cohere_generators.py
Labels: topic:CI

remove Document Store decorator (#76)
  integrations/chroma/src/chroma_haystack/__about__.py
  integrations/chroma/src/chroma_haystack/document_store.py
  integrations/elasticsearch/src/elasticsearch_haystack/__about__.py
  integrations/elasticsearch/src/elasticsearch_haystack/document_store.py
  integrations/opensearch/src/opensearch_haystack/__about__.py
  integrations/opensearch/src/opensearch_haystack/document_store.py
Labels: integration:chroma, integration:elasticsearch, integration:opensearch

fix import and increase version (#77)
  integrations/chroma/src/chroma_haystack/__about__.py
  integrations/chroma/src/chroma_haystack/document_store.py
  integrations/elasticsearch/src/elasticsearch_haystack/__about__.py
  integrations/elasticsearch/tests/test_document_store.py
  integrations/opensearch/src/opensearch_haystack/__about__.py
  integrations/opensearch/tests/test_document_store.py
Labels: integration:chroma, integration:elasticsearch, integration:opensearch

Update elasticsearch test badge (#79)
  integrations/elasticsearch/README.md
Labels: integration:elasticsearch

Revert "Bump actions/labeler from 4 to 5 (#78)" (#85)
  .github/workflows/labeler.yml
Labels: topic:CI

chore: remove LazyImport from integrations (#83)
  integrations/gradient/src/gradient_haystack/embedders/gradient_document_embedder.py
  integrations/gradient/src/gradient_haystack/embedders/gradient_text_embedder.py
  integrations/gradient/src/gradient_haystack/generator/base.py
  integrations/instructor-embedders/instructor_embedders/embedding_backend/instructor_backend.py
Labels: integration:gradient, integration:instructor-embedders

[cohere] Add text and document embedders (#80)
  integrations/cohere/README.md
  integrations/cohere/pyproject.toml
  integrations/cohere/src/cohere_haystack/embedders/__init__.py
  integrations/cohere/src/cohere_haystack/embedders/document_embedder.py
  integrations/cohere/src/cohere_haystack/embedders/text_embedder.py
  integrations/cohere/src/cohere_haystack/embedders/utils.py
  integrations/cohere/src/cohere_haystack/generator.py
  integrations/cohere/tests/test_cohere_generators.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: none

[cohere] fix cohere pypi version badge and add Embedder note (#86)
  README.md
  integrations/cohere/src/cohere_haystack/__about__.py
Labels: none

feat: Add support for V3 Embed models to CohereEmbedders (#89)
  integrations/cohere/src/cohere_haystack/embedders/document_embedder.py
  integrations/cohere/src/cohere_haystack/embedders/text_embedder.py
  integrations/cohere/src/cohere_haystack/embedders/utils.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: none

increase version to prepare release (#92)
  integrations/cohere/src/cohere_haystack/__about__.py
Labels: none

rm unused constant (#91)
  integrations/cohere/src/cohere_haystack/embedders/utils.py
Labels: none

feat: add Jina Embeddings integration (#93)
  .github/workflows/jina.yml
  README.md
  integrations/jina/LICENSE.txt
  integrations/jina/README.md
  integrations/jina/pyproject.toml
  integrations/jina/src/jina_haystack/__about__.py
  integrations/jina/src/jina_haystack/__init__.py
  integrations/jina/src/jina_haystack/document_embedder.py
  integrations/jina/src/jina_haystack/text_embedder.py
  integrations/jina/tests/__init__.py
  integrations/jina/tests/test_document_embedder.py
  integrations/jina/tests/test_text_embedder.py
Labels: topic:CI
