Repository togetherAll7/haystack-core-integrations, changes with the labels that .github/labeler.yml gives for each.
All labels: integration:instructor-embedders, integration:chroma, integration:elasticsearch, topic:CI, topic:DX, topic:security

schedule jobs nightly
  .github/workflows/components_instructor_embedders.yml
  .github/workflows/document_stores_chroma.yml
  .github/workflows/document_stores_elasticsearch.yml
  .github/workflows/nodes_text2speech.yml
Labels: topic:CI

fix concurrency
  .github/workflows/document_stores_chroma.yml
  .github/workflows/document_stores_elasticsearch.yml
Labels: topic:CI

Elastiscsearch BM25Retriever: set `scale_score` default value to False (#50)
  document_stores/elasticsearch/src/elasticsearch_haystack/bm25_retriever.py
  document_stores/elasticsearch/src/elasticsearch_haystack/document_store.py
  document_stores/elasticsearch/tests/test_bm25_retriever.py
  document_stores/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

add labeller workflow
  .github/workflows/labeler.yml
Labels: topic:CI

Elasticsearch Document store - embedding retrieval (#52)
  document_stores/elasticsearch/docker-compose.yml
  document_stores/elasticsearch/src/elasticsearch_haystack/document_store.py
  document_stores/elasticsearch/tests/test_bm25_retriever.py
  document_stores/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

temporarily pin haystack-ai (#56)
  document_stores/elasticsearch/pyproject.toml
Labels: integration:elasticsearch

Elasticsearch Embedding Retriever (#54)
  document_stores/elasticsearch/src/elasticsearch_haystack/embedding_retriever.py
  document_stores/elasticsearch/tests/test_embedding_retriever.py
Labels: integration:elasticsearch

[chroma] Update the code to account for the latest changes in haystack Document (#55)
  document_stores/chroma/pyproject.toml
  document_stores/chroma/src/chroma_haystack/document_store.py
  document_stores/chroma/tests/test_document_store.py
Labels: integration:chroma

Elasticsearch - refactor `_search_documents` (#57)
  document_stores/elasticsearch/src/elasticsearch_haystack/document_store.py
  document_stores/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

Update README.md
  README.md
Labels: none

Move `instructor-embedders` to `components/embedders` (#60)
  .github/workflows/components_instructor_embedders.yml
  README.md
  components/embedders/instructor-embedders/LICENSE.txt
  components/embedders/instructor-embedders/README.md
  components/embedders/instructor-embedders/instructor_embedders/__about__.py
  components/embedders/instructor-embedders/instructor_embedders/__init__.py
  components/embedders/instructor-embedders/instructor_embedders/embedding_backend/__init__.py
  components/embedders/instructor-embedders/instructor_embedders/embedding_backend/instructor_backend.py
  components/embedders/instructor-embedders/instructor_embedders/instructor_document_embedder.py
  components/embedders/instructor-embedders/instructor_embedders/instructor_text_embedder.py
  components/embedders/instructor-embedders/pyproject.toml
  components/embedders/instructor-embedders/tests/__init__.py
  components/embedders/instructor-embedders/tests/test_instructor_backend.py
  components/embedders/instructor-embedders/tests/test_instructor_document_embedder.py
  components/embedders/instructor-embedders/tests/test_instructor_embedders.py
  components/embedders/instructor-embedders/tests/test_instructor_text_embedder.py
Labels: topic:CI

[Elasticsearch Document Store] improve error handling in `write_documents` (#59)
  document_stores/elasticsearch/src/elasticsearch_haystack/document_store.py
  document_stores/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

.github/labeler.yml:

# Integrations
integration:instructor-embedders:
- components/instructor-embedders/**/*
integration:chroma:
- document_stores/chroma/**/*
integration:elasticsearch:
- document_stores/elasticsearch/**/*
# Topics
topic:CI:
- .github/*
- .github/**/*
topic:DX:
- CONTRIBUTING.md
- .pre-commit-config.yaml
- .gitignore
- requirements.txt
topic:security:
- SECURITY.md
